body{
    width: 380px;
    height: 844px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x:hidden; 
}
main, header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}
main{
    flex: 1;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p, button, input, span{
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: 500;
}
hr{
    width: 73px;
    /* height: 1px; */
    margin: 5px 0px 0px 0px;
    border: none;
    border-top: 1.5px solid black;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Cormorant SC';
    font-weight: lighter;
}
header > h2:first-of-type{
    margin: 26px 0px 0px 0px;
}
header > h2:last-of-type{
    margin: 0px 0px 0px 0px;
}
header > p{
    margin: 12px 0px 0px 0px;
}

.line
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.line > h2{
    margin: 5px 34px 0px 35px;
    font-size: 42px;
    font-family: 'Cormorant Infant';
}


#question{
    /* width: 186px; */
    margin: 19px 0px 0px 0px;
    text-align: center;
    height: 24px;
}
.animateP {
    animation: slideAndFade 2s forwards;
}
@keyframes slideAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    51% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.animatePBack {
    animation: slideAndFadeBack 2s forwards;
}
@keyframes slideAndFadeBack {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    50% {
        transform: translateX(100%);
        opacity: 0;
    }
    51% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.default-button{
    background: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 123px;
    height: 23px;
    box-shadow: 1px 3px 0px black;
    color: black;
    outline: none;
}
.default-button>p{
    margin: 0px;
}
.default-button:hover{
    background: #DEF6B1;
    
}
.default-button:hover ~ #lineR, 
.default-button:hover ~ #lineL {
    display: block;
}
.animateOut {
    animation: slideOut 1s forwards;
}
@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
.animateOutBack {
    animation: slideOutBack 1s forwards;
}
@keyframes slideOutBack {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

#lineR{
    position: absolute;
    align-self: flex-end;
    margin: 30px 7px 0px 0px;
    display: none;
}
#lineL{
    position: absolute;
    align-self: flex-start;
    margin: 30px 0px 0px 7px;
    display: none;
}
.flyr {
    animation: flyr 1s forwards infinite;
}
@keyframes flyr {
    0% {
        transform: scaleY(1);
        margin: 30px 7px 0px 0px;
    }
    50% {
        transform: scaleY(-1);
        margin: 0px 7px 20px 0px;
    }
    100% {
        transform: scaleY(1);
        margin: 30px 7px 0px 0px;
    }
}
.flyl {
    animation: flyl 1s forwards infinite;
}
@keyframes flyl {
    0% {
        transform: scaleY(1);
        margin: 30px 0px 0px 7px;
    }
    50% {
        transform: scaleY(-1);
        margin: 0px 7px 20px 0px;
    }
    100% {
        transform: scaleY(1);
        margin: 30px 0px 0px 7px;
    }
}
.start{
    display: flex;
    flex-direction: column;
    width: 214px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}
#fio{
    background: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 130px;
    height: 22px;
    box-shadow: 1px 3px 0px black;
    outline: none;
    padding: 0px 15px 0px 15px;
    display: none;
    margin: 6px 0px 0px 0px;
}
.animateInside {
    animation: slideInside 1s forwards;
}
@keyframes slideInside {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.animateInsideBack {
    animation: slideInsideBack 1s forwards;
}
@keyframes slideInsideBack {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.next-back{
    display: flex;
    gap: 65px;
    flex-direction: row;
    align-items: center;
    margin: 18px 0px 0px 3px;
    display: none;
}
svg{
    position: absolute;
}
#el1{
     margin-right: 267px; 
}
#el2{
    margin-left: 225px;
}
#el3{
    margin-left: 347px;
    margin-top: 89px;
    /* align-self: flex-end; */
}
#el4{
    margin-right: 291px;
    margin-top: 238px;
}
#el5{
    margin-top: 421px;
    margin-left: 215px;
}
#el6{
    margin-top: 514px;
    margin-right: 202px;
}
#el7{
    margin-top: 683px;
    margin-left: 366px;
}
#el8{
    margin-top: 731px;
    margin-right: 309px;
}
.test{
    display:none;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 78px;
    width: inherit;
    margin-top: 17px;
}
.punkt{
    display: flex;
    gap: 10px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}
#allergy{
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    height: 20px;
    outline: none;
}
#star{
    display: none;
    font-style: italic;
    text-align: center;
}
.goback{
    display: none;
    margin: 30px 0px 0px 0px;
}
.animateOutY {
    animation: slideOutY 1s forwards;
}
@keyframes slideOutY {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.shake-rotate {
    display: inline-block;
}

.shake-rotate:hover {
    animation: shake-rotate 0.5s ease-in-out infinite;
}

@keyframes shake-rotate {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(3deg);
    }
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.modal2{
    top: 21%;
}
.modal.show {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #bdd68d;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}
.checkbox-container {
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction: row;
    gap: 10px;
}
.checkbox-container input[type="checkbox"] {
    display: none;
}
.checkbox-container input[type="radio"] {
    display: none;
}
.checkmark {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background-color: white;
    box-shadow: 1px 3px 0px black;
}

.checkbox-container input:checked + .checkmark {
    background-color: #DEF6B1;
}

/* .checkbox-container input:checked + .checkmark:before {
    background: url(images/Ellipse\ 1.svg);
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
}  */